*{ padding: 0; margin: 0;text-align: left;font-family: Helvetica, Arial, sans-serif;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
ul, li { list-style-type: none; }
img{ border:none;}
a{ text-decoration:none;}
::-webkit-scrollbar{width:0;height:0}
body{width: 100%; position:relative;}
article, aside, footer, header, hgroup, main, nav, section, video{ display: block;}
header{ background: #0080FF repeat; height:64px; position: fixed; padding:0 10px; width:100%; top:0px; left:0px; z-index:99;}
.top{height:64px; width:40px; position:absolute; top:0; left:10px;}
.top img{ width:10px; height:19px; margin-top:22px;}
header h1{ font-size:18px;font-weight:bold;color:#FFF; height:64px; line-height:64px; width:80%; margin:0 auto; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:center;}
section{ padding:74px 10px 30px 10px;}
section h1{ font-size:18px; color:#000; height:64px; line-height:64px; text-align:center; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:center;}
h2{ text-align:center; font-size:16px; font-weight:bold; height:40px; line-height:40px;}
.ctPic,.yjPic,.sjPic,.yqPic,jjPic{}
.ctPic img,.yjPic img,.sjPic img,.yqPic img,.jjPic img{ width:100%;}
.ctPic figcation,.yjPic figcation, .sjPic figcation, .yqPic figcation,.jjPic figcation{ text-align:center; font-size:14px; padding:10px 0; display:block;}
p{ line-height:26px; font-size:14px; text-indent:2em;}
/*.txt{border-radius:10px; border:1px dotted #063; margin-top:10px; padding:10px;}*/
.allIcon{display:flex;display: -webkit-box; margin:30px;}
.allIcon figure{ text-align:center;}
.allIcon figcation{font-size:14px;}
.icon2{flex:1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; text-align:center;}
/*css of inner page */
section figure.pic img{width:100%;}
h3{ font-weight:bold; font-size:15px;line-height:26px; padding:6px 0;}
.content img{ width:80px; height:80px;}

video{ margin:0 auto; width:100%; height:220px; background:#000 repeat; margin-bottom:10px;}
h4{ font-weight:bold; font-size:14px; height:30px; line-height:30px; text-align:center;}

footer{ background:#0080FF repeat;height:50px;width:100%; position:fixed; left:0; bottom:0;}
footer p{ text-align:center; color:#fff;line-height:50px;}
