@import "mixin";

*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-text-base;
  background-color: $fill-body;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  border: 0px;
  -ms-interpolation-mode: bicubic;
}

*[contenteditable] {
  -webkit-user-select: auto !important;
}

// Reset fonts for relevant elements
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

input, textarea {
  border: none;
  background-color: #fff;
}

button {
  outline: none;
}

ul,
ol {
  display: list-item;
  list-style: none;
}

// Remove the clear button of a text input control in IE10+
input::-ms-clear, input::-ms-reveal {
  display: none;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  line-height: normal;
}

*:focus {
  outline: none;
}

a {
  background: transparent;
  text-decoration: none;
  outline: none;
  color: $color-text-base;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: normal;
  color: inherit;
}

//左浮动
.pull-left {
  @extend %pull-left;
}

//右浮动
.pull-right {
  @extend %pull-right;
}

//清除浮动
.clearFix {
  @extend %clearFix;
}

//超出显示...
.ellipsis {
  @extend %ellipsis;
}

//没有数据
.no-data {
  width: 100%;
  position: relative;
  left: 0;
  top: toRem(-40px);
  margin-bottom: toRem(60px);
  text-align: center;
  color: #999;
  @include font-size(50px);
}

//高亮
.highlight {
  color: $color-highlight;
}
//容器
.container{
  &::after{
    content: '';
    display: block;
    height: toRem(105px);
  }
}
//表单
.form-group {
  @include font-size(34px);
}

.form-control {
  display: block;
  width: 100%;
  @include ht-lineHt(70px);
  padding: toRem(10px) toRem(20px);
  @include font-size(34px);
  color: #555;
  background-color: #fff;
  @extend %border-base;
  border-radius: toRem(4px);
}

.checkbox, .radio {
  label {
    width: auto;
    @include ht-lineHt(90px);
  }
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  @include square(35px);
  vertical-align: middle;
}

//水平表单
.form-horizontal {
  .form-control {
    display: inline-block;
    width: 70%;
  }
  .control-label {
    padding-top: toRem(7px);
    margin-bottom: 0;
    text-align: right;
  }
  .checkbox, radio {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

//按钮
.page-button-group, .page-button-group > * {
  margin-bottom: toRem(30px);
}

.mint-button {
  height: toRem(90px);
  @include font-size(36px);
  @include borderRadius(8px)
}

.mint-button--normal, .mint-button--small {
  padding: 0 toRem(24px);
}

.mint-button--small {
  @include font-size(56px);
  height: toRem(44px);
}

.mint-button--primary {
  color: #fff;
  background-color: $brand-primary;
}

.mint-button--primary.is-plain {
  border: 1px solid $brand-primary;
  background-color: transparent;
  color: $brand-primary;
}

//过渡动画
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

//MessageBox
body {
  .mint-msgbox {
    font-size: toRem(32px);
  }
  .mint-msgbox-title {
    font-size: toRem(32px);
    line-height: toRem(120px);
  }
  .mint-msgbox-btns {
    @include ht-lineHt(92px);
  }
  .mint-msgbox-content {
    padding: toRem(10px) toRem(70px) toRem(60px);
  }
}

//轮播
.mint-swipe-indicator {
  @include square(16px);
}

//红线
.red_line {
  display: inline-block;
  width: toRem(6px);
  height: toRem(28px);
  margin-right: toRem(20px);
  background-color: $brand-primary;
}

